*{
	margin: 0;
	padding: 0;
}
body{
	  background-image: url('../img/xc/back.jpg'); /* 替换为你的图片路径 */
	  background-repeat: no-repeat;
	  background-size: cover; /* 或者使用100% 100%以适应整个页面 */
	  background-attachment: fixed;
	  
	     -moz-user-select: none; /* Firefox */
	      -webkit-user-select: none; /* Chrome, Opera, Safari, etc. */
	      -ms-user-select: none; /* IE10+ */
	      user-select: none; /* Standard version */
#app{
	width: 100%;
	padding-bottom: 10vh;
}
.title{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	/* color: white; */
	  background: -webkit-linear-gradient(white,red, white);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  /* display: inline-block; */
	/* background-color: rebeccapurple; */
}
.imgList{
	/* width: 50%; */
	/* margin: 10px auto; */
	text-align: center;
	/* background-color: rebeccapurple; */
}
.imgList>img{
	width: 30%;
	margin-right: 10vw;
	margin-top: 10vh;
}